@model IEnumerable<University.ViewModel.StudentIndexViewModel>

@{
    ViewData["Title"] = "Student Index";
}
    <h2>Student Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <h4>Student</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.EnrollmentDate)
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
